In [29]:
import pandas as pd 
# import hiplot as hip
import pygwalker as pyg

In [27]:
# !pip install pygwalker --upgrade

In [30]:
df = pd.read_csv('N150.csv')
# dfplot = hip.Experiment.from_dataframe(df)
# dfplot.display()

In [31]:
df['datetime'] = pd.to_datetime(df['Date/Time'])

df

,report,pm_2.5,pm_10.0,atm_preassure,temperature,humidity,unixtime,Date/Time,Date,Time,datetime
0,R014,11,15,936.2,23.8,59,1561299087,2019-06-23 14:11:12,2019-06-23,14:11:12,2019-06-23 14:11:12
1,R015,11,15,935.9,23.8,61,1561299387,2019-06-23 14:15:28,2019-06-23,14:15:28,2019-06-23 14:15:28
2,R016,10,13,935.7,24.0,61,1561299687,2019-06-23 14:21:52,2019-06-23,14:21:52,2019-06-23 14:21:52
3,R017,12,16,935.6,24.0,63,1561299988,2019-06-23 14:26:08,2019-06-23,14:26:08,2019-06-23 14:26:08
4,R019,12,16,935.1,24.9,60,1561300588,2019-06-23 14:36:48,2019-06-23,14:36:48,2019-06-23 14:36:48
...,...,...,...,...,...,...,...,...,...,...,...
418992,R746,5,7,945.2,4.5,69,1708300647,2024-02-18 23:57:52,2024-02-18,23:57:52,2024-02-18 23:57:52
418993,R747,5,7,945.3,4.5,69,1708300947,2024-02-19 00:02:08,2024-02-19,00:02:08,2024-02-19 00:02:08
418994,R748,5,7,945.1,4.5,69,1708301246,2024-02-19 00:06:24,2024-02-19,00:06:24,2024-02-19 00:06:24
418995,R749,5,7,945.2,4.6,69,1708301546,2024-02-19 00:12:48,2024-02-19,00:12:48,2024-02-19 00:12:48
418996,R750,5,7,945.2,4.9,69,1708301846,2024-02-19 00:17:04,2024-02-19,00:17:04,2024-02-19 00:17:04

In [32]:
df['datetime'] = pd.to_datetime(df['Date/Time'])
df['year'] = df['datetime'].dt.year 
df['month'] = df['datetime'].dt.month 
df['day'] = df['datetime'].dt.day
df['hour'] = df['datetime'].dt.hour
df['year_month_hour'] = df.apply(lambda row: str(row['year']) + '-' +  str(row['month']).zfill(2) + '-' + str(row['hour']).zfill(2) , axis=1)
df['month_hour'] = df.apply(lambda row: str(row['month']).zfill(2) + '-' + str(row['hour']).zfill(2) , axis=1)
# for year in df['yesr'].unique():
#     df[str(year)+'_month_hour'] = df.apply(lambda row: str(row['year']) + '-' +  str(row['month']).zfill(2) + '-' + str(row['hour']).zfill(2) , axis=1)
# # df['time'] = pd.to_datetime(df['Time'])

In [33]:
df

,report,pm_2.5,pm_10.0,atm_preassure,temperature,humidity,unixtime,Date/Time,Date,Time,datetime,year,month,day,hour,year_month_hour,month_hour
0,R014,11,15,936.2,23.8,59,1561299087,2019-06-23 14:11:12,2019-06-23,14:11:12,2019-06-23 14:11:12,2019,6,23,14,2019-06-14,06-14
1,R015,11,15,935.9,23.8,61,1561299387,2019-06-23 14:15:28,2019-06-23,14:15:28,2019-06-23 14:15:28,2019,6,23,14,2019-06-14,06-14
2,R016,10,13,935.7,24.0,61,1561299687,2019-06-23 14:21:52,2019-06-23,14:21:52,2019-06-23 14:21:52,2019,6,23,14,2019-06-14,06-14
3,R017,12,16,935.6,24.0,63,1561299988,2019-06-23 14:26:08,2019-06-23,14:26:08,2019-06-23 14:26:08,2019,6,23,14,2019-06-14,06-14
4,R019,12,16,935.1,24.9,60,1561300588,2019-06-23 14:36:48,2019-06-23,14:36:48,2019-06-23 14:36:48,2019,6,23,14,2019-06-14,06-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418992,R746,5,7,945.2,4.5,69,1708300647,2024-02-18 23:57:52,2024-02-18,23:57:52,2024-02-18 23:57:52,2024,2,18,23,2024-02-23,02-23
418993,R747,5,7,945.3,4.5,69,1708300947,2024-02-19 00:02:08,2024-02-19,00:02:08,2024-02-19 00:02:08,2024,2,19,0,2024-02-00,02-00
418994,R748,5,7,945.1,4.5,69,1708301246,2024-02-19 00:06:24,2024-02-19,00:06:24,2024-02-19 00:06:24,2024,2,19,0,2024-02-00,02-00
418995,R749,5,7,945.2,4.6,69,1708301546,2024-02-19 00:12:48,2024-02-19,00:12:48,2024-02-19 00:12:48,2024,2,19,0,2024-02-00,02-00
418996,R750,5,7,945.2,4.9,69,1708301846,2024-02-19 00:17:04,2024-02-19,00:17:04,2024-02-19 00:17:04,2024,2,19,0,2024-02-00,02-00

In [34]:
pyg.walk(df)

TemplateNotFound: walk.js